@font-face {
  font-family: "Noi Grotesk";
  src: url(D:\valte\Documents\Fontes\StudioFeixenFontsTRIAL\NoiGroteskFamilyTRIAL\2TTF\NoiGroteskTrial-UltraLightItalic.ttf); 
} 

@font-face {
  font-family: Redaction;
  src: url(D:\valte\Documents\redaction\webfonts\Redaction-Bold.woff2);
}

#tabela {
  display: none;
}  

.header {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 35vw;
  background: rgba(255, 255, 255, .5);
  border: 1px solid#e7e7e7;
  overflow: hidden;
  text-align: center;
  border-radius: 1rem;
}

li {
  display: inline-block;
  margin: 0px 10px;
}

a {
  display: inline-block;
  color: #030303;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  outline: none;
}
  
a:hover {
  background-color: rgba(204, 203, 203, 0.582);
}

body {
  background-color: #f5f5f5;
  width: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.form-box {
  margin-left: 30px;
  background-color: #fcfcfd;
  border: 2px solid rgb(7, 7, 7);
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 380px;
  left: 100px;
}

.logo {
  float: right;
  width: 20%;
  margin-top: -125px;
  margin-right: 80px;
}

.title {
  color: rgb(10, 10, 10);
  text-align: left;
  line-height: 82%;
  padding: 80px;
}

.site {
  font-family: "Noi Grotesk", sans-serif;
  font-size: 60px;
  font-weight: 450;
}

.cityname {
  font-family: 'Redaction', serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 520;
  }
 
  @media (max-width: 768px) {
    .site {
      font-size: 25px;
      font-weight: 400;
      text-align: left;
    }
  }

  @media (max-width: 768px) {
    .cityname {
      font-size: 30px;
      text-align: left;
    }
  }